<!--
 ┌──────────────────────────────────────────────────────────────────────┐
 │ @name         Recipe website                                         │
 │ @author       Léa Gallier                                            │
 │ @version      1.0                                                    │
 │ @created      2023-05-31                                             │
 │ @modified     2023-06-01                                             │
 │ @description  Recipes website made with Node.js, Express and MongoDB │
 └──────────────────────────────────────────────────────────────────────┘
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= typeof title != 'undefined' ? title: 'Recipe Website - Made with Node.js' %>
    </title>
    
    <script src="https://kit.fontawesome.com/cb81440751.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Geologica:wght@500&family=Poppins&family=Rancho&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <header class="shadow">
    <nav class="navbar navbar-expand-lg mx-5" aria-label="Offcanvas navbar large">
        <div class="container-fluid">
          <!--<div> Icons made by <a href="https://www.freepik.com" title="Freepik"> Freepik </a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com'</a></div>-->
            <a id="title" class="navbar-brand ms-3 me-5 fw-bold d-flex align-items-center justify-content-between" href="/">
                <img class="me-3" src="/pictures/logo.png" style="height:50px;" alt="Recipe Website -Made with Node.js">
                Petits Plats
            </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbar2Label">LOGO</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-lg-center flex-grow-1 pe-3">
                <li class="nav-item"><a class="nav-link px-3 active" aria-current="page" href="/">Accueil</a></li>
                <li class="nav-item"><a class="nav-link px-3" aria-current="page" href="/about">À propos</a></li>
                <li class="nav-item dropdown"><a class="nav-link px-3 dropdown-toggle" href="/recipes" role="button" data-bs-toggle="dropdown" aria-expanded="false">Recettes</a>
                  <ul class="dropdown-menu mx-0 shadow w-220px">
                    <li><a class="dropdown-item d-flex gap-2 align-items-center" href="/recipes"><i class="fa-solid fa-arrow-down-a-z"></i>Toutes les recettes</a></li>
                    <li><a class="dropdown-item d-flex gap-2 align-items-center" href="/latest"><i class="fa-solid fa-clock"></i>Dernières recettes</a></li>
                    <li><a class="dropdown-item d-flex gap-2 align-items-center" href="/category"><i class="fa-solid fa-tag"></i>Catégories</a></li>
                    <li><a class="dropdown-item d-flex gap-2 align-items-center" href="/newrecipe"><i class="fa-solid fa-circle-plus"></i>Nouvelle recette</a></li>
                    <li><a class="dropdown-item d-flex gap-2 align-items-center" href="/favorites"><i class="fa-solid fa-heart"></i>Favoris</a></li>
                  </ul>
                </li>
                <li class="nav-item"><a class="nav-link px-3" aria-current="page" href="/menu">Menu</a></li>
                <li class="nav-item"><a class="nav-link px-3" aria-current="page" href="/shoppinglist">Liste de courses</a></li>
              </ul>

                <form class="d-flex input-group" style="width:20%;" method="POST" action="/search">
                    <input class="form-control form-control-sm mr-3 w-75" type="search" name="searchTerm" placeholder="Recherche ..." aria-label="Search">
                    <span class="input-group-text"><i class="fas fa-search" aria-hidden="true"></i></span>
                </form>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <section class="picture-homepage">
        <img src="/pictures/home_picture.png" alt="pizza">
    </section>
    
    <!--<nav class="navbar navbar-expand-md rounded" aria-label="Thirteenth navbar example">
        <div class="container-fluid">
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="navbar-collapse d-lg-flex collapse" id="navbarsExample11" style="">
            <a class="navbar-brand col-lg-3 me-0" href="#">Centered nav</a>
            <ul class="navbar-nav col-lg-6 justify-content-lg-center">
                <li class="nav-item"><a href="/" class="nav-link px-3">Accueil</a></li>
                <li class="nav-item"><a href="/about" class="nav-link px-3">A propos</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle px-3" href="#" data-bs-toggle="dropdown" aria-expanded="false">Recettes</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a href="/menu" class="nav-link px-3">Menu</a></li>
                <li class="nav-item"><a href="/shoppinglist" class="nav-link px-3">Liste de courses</a></li>
                
            </ul>
            <div class="d-lg-flex col-lg-3 justify-content-lg-end">
              <button class="btn btn-primary">Button</button>
            </div>
          </div>
        </div>
      </nav>-->
    <!--<header id="header" class="d-flex flex-wrap align-items-center justify-content-between py-3 px-4 mx-4 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-2 mb-md-0 text-dark text-decoration-none">
            <img src="/pictures/logo.png" style="height:50px;" alt="Recipe Website -Made with Node.js">
            <span class="fs-4">LOGO</span>
        </a>
    
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-3">Accueil</a></li>
            <li><a href="/about" class="nav-link px-3">A propos</a></li>
            <li><a href="/recipes" class="nav-link px-3">Recettes</a></li>
            <li><a href="/menu" class="nav-link px-3">Menu</a></li>
            <li><a href="/shoppinglist" class="nav-link px-3">Liste de courses</a></li>
        </ul>
    
        <form class="d-flex input-group" style="width:20%;" method="POST" action="/search">
            <input class="form-control form-control-sm mr-3 w-75" type="search" name="searchTerm" placeholder="Recherche ..." aria-label="Search">
            <span class="input-group-text"><i class="fas fa-search" aria-hidden="true"></i></span>
        </form>

    </header>

    <main>
        <%- body -%>
    </main>-->
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>