<%- include('layouts/breadcrumbs.ejs') %>

<div class="title-page">Catégories</div>

<div class="body-container">
    <div class="grid-categories">
        <div class="card-category">
            <div class="card-picture">
                <img src="pictures/categories/toast.jpg" alt="Tartines">
            </div>
            <div class="card-details">
                <div class="card-name">Tartines</div>
                <div class="card-description">Belles tartines !<div>
            </div>
        </div>
        <div class="card-category">
            <div class="card-picture">
                <img src="pictures/categories/toast.jpg" alt="Tartines">
            </div>
            <div class="card-details">
                <div class="card-name">Tartines</div>
                <div class="card-description">Belles tartines !<div>
            </div>
        </div>
    </div>
</div>