<%- include('layouts/breadcrumbs.ejs') %>

<div class="body-container">
    <div class="div-category">
        <div class="div-category-left">
            <img class="div-category-picture" src="../pictures/categories/bread.jpg" alt="Pains">
            <!-- <div class="div-category-img"></div> -->
        </div>
        <div class="div-category-right">
           <div class="div-category-name">Pains</div>
           <div class="div-category-description">Découvrez notre sélection de recettes de pains, des classiques aux créations originales, pour des moments de délice croustillant à chaque bouchée.</div>
        </div>
    </div>
</div>