<%- include('layouts/breadcrumbs.ejs') %>

<div class="body-container">
    <div class="div-category">
        <div class="div-category-left">
            <img class="div-category-picture" src="../pictures/categories/bread.jpg" alt="Pains">
        </div>
        <div class="div-category-right">
           <div class="div-category-name">Pains</div>
           <div class="div-category-description">Découvrez notre sélection de recettes de pains, des classiques aux créations originales, pour des moments de délice croustillant à chaque bouchée.</div>
        </div>
    </div>
</div>

<%- include('layouts/separator.ejs') %>

<div class="body-container">
    <div class="title-page">Recettes</div>
    <!-- <div class="div-recipes">

    </div> -->
    <div class="grid-recipes">
        <a href="/recipes/pretzel">
            <div class="card-category">
                <div class="card-picture">
                    <img src="../pictures/categories/bread.jpg" alt="Bretzel">
                </div>
                <div class="card-details">
                    <div class="card-name">Bretzel</div>
                </div>
            </div>
        </a>
    </div>
</div>