<section class="picture-homepage">
    <img src="/pictures/homepage/home_picture.png" alt="pizza">
</section>

<!--<div class="background-container">
    <img class="basilic1" src="/pictures/homepage/basilic1.png" alt="basilic1">
    <img class="basilic2" src="/pictures/homepage/basilic2.png" alt="basilic2">
    <img class="champignon1" src="/pictures/homepage/champignon1.png" alt="champignon1">
    <img class="persil1" src="/pictures/homepage/persil1.png" alt="persil1">
    <img class="poivre1" src="/pictures/homepage/poivre1.png" alt="poivre1">
    <img class="tomato1" src="/pictures/homepage/tomato1.png" alt="tomato1">
    <img class="tomato2" src="/pictures/homepage/tomato2.png" alt="tomato2">
</div>-->

<div class="main-container">
    <div class="main-container-index">
        <div class="main-container-text">
            <h1 class="main-container-title">Large choix de délicieuses idées de recettes</h1>
            <p class="main-container-paragraph">
                Que diriez-vous d'une petite pause gourmande ? Que ce soit pour surprendre vos invités ou simplement pour satisfaire votre envie de cuisiner, bienvenue sur <span style="font-weight: bold;">PaléoDélices</span> ! Que vous soyez un novice en cuisine ou un véritable passionné, explorez notre sélection de recettes inspirantes pour concocter des mets délicieux et créatifs. Des idées pour les repas rapides aux plats élaborés qui feront sensation, nous avons tout ce qu'il vous faut. Laissez-vous tenter par des saveurs exquises, faciles à réaliser. Bon appétit !
            </p>
            <div class="main-container-buttons">
                <a href="/latest" class="main-container-button main-container-button-primary">Découvrir les dernières</a>
                <a href="/random" class="main-container-button main-container-button-secondary">Afficher au hasard</a>
            </div>
        </div>
    </div>
</div>

<div class="second-container">
    <div class="title-container">Pourquoi PaléoDélices ?</div>
</div>

<div class="third-container">
    <div class="title-container">Catégories</div>
    <!--<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4 mx-5">
        <a href="#" class="col text-center category-link">
            <div class="category-img shadow">
                <img src="pictures/categories/salad.jpg" alt="Salades" loading="lazy">
            </div>
            <div class="pt-1">Salades</div>
        </a>
        <a href="#" class="col text-center category-link">
            <div class="category-img shadow">
                <img src="pictures/categories/christmas.jpg" alt="Noël" loading="lazy">
            </div>
            <div class="pt-1">Noël</div>
        </a>
        <a href="#" class="col text-center category-link">
            <div class="category-img shadow">
                <img src="pictures/categories/bread.jpg" alt="Pains" loading="lazy">
            </div>
            <div class="pt-1">Pains</div>
        </a>
        <a href="#" class="col text-center category-link">
            <div class="category-img shadow">
                <img src="pictures/categories/toast.jpg" alt="Tartines" loading="lazy">
            </div>
            <div class="pt-1">Tartines</div>
        </a>
        <a href="#" class="col text-center category-link">
            <div class="category-img shadow">
                <img src="pictures/categories/american-food.jpg" alt="American Food" loading="lazy">
            </div>
            <div class="pt-1">American food</div>
        </a>
        <a href="#" class="col text-center category-link">
            <div class="category-img shadow">
                <img src="pictures/categories/american-food.jpg" alt="American Food" loading="lazy">
            </div>
            <div class="pt-1">American food</div>
        </a>
    </div>-->

    <div class="categories-container">
        <div class="category-container swiper">
            <div class="slide-container">
                <div class="card-wrapper swiper-wrapper">
                    <div class="category-card swiper-slide">
                        <div class="picture-box">
                            <a href="/categories/toast"><img src="pictures/categories/toast.jpg" alt="Tartines"></a>
                        </div>
                        <div class="details-box">
                            <h3 class="name">Tartines</h3>
                        </div>
                    </div>
                    <div class="category-card swiper-slide">
                        <div class="picture-box">
                            <a href="/categories/salad"><img src="pictures/categories/salad.jpg" alt="Salades"></a>
                        </div>
                        <div class="details-box">
                            <h3 class="name">Salades</h3>
                        </div>
                    </div>
                    <div class="category-card swiper-slide">
                        <div class="picture-box">
                            <a href="/categories/bread"><img src="pictures/categories/bread.jpg" alt="Pains"></a>
                        </div>
                        <div class="details-box">
                            <h3 class="name">Pains</h3>
                        </div>
                    </div>
                    <div class="category-card swiper-slide">
                        <div class="picture-box">
                            <img src="pictures/categories/christmas.jpg" alt="Noël">
                        </div>
                        <div class="details-box">
                            <h3 class="name">Noël</h3>
                        </div>
                    </div>
                    <div class="category-card swiper-slide">
                        <div class="picture-box">
                            <img src="pictures/categories/fast-food.jpg" alt="Fast food">
                        </div>
                        <div class="details-box">
                            <h3 class="name">Fast food</h3>
                        </div>
                    </div>
                    <div class="category-card swiper-slide">
                        <div class="picture-box">
                            <img src="pictures/categories/cocktail.jpg" alt="Cocktail">
                        </div>
                        <div class="details-box">
                            <h3 class="name">Cocktail</h3>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next swiper-navBtn"></div>
                <div class="swiper-button-prev swiper-navBtn"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>

    <div class="title-container">Dernières recettes</div>
</div>

<div class="last-container">
    
</div>