<section class="picture-homepage">
    <img src="/pictures/home_picture.png" alt="pizza">
</section>

<div class="main">

    <h1>Hello World</h1><br><h1>Hello World</h1><br><h1>Hello World</h1><br><h1>Hello World</h1><br>
    <h1>Hello World</h1><br><h1>Hello World</h1><br><h1>Hello World</h1><br><h1>Hello World</h1>
</div>


