/* Picture from the home page */

.picture-homepage {
    position: absolute;
    min-height: calc(100vh - 76px);
    width: 100%;
}

.picture-homepage img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 56%;
    z-index: 4;
}

/* Main container */

.main-container {
    min-height: calc(100vh - 76px);
    z-index: 2;
}

/* 

.title-container {
    margin: 50px 0;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}