:root {
    /* Pallet color */
    --color-black: #0F0F0F;
    --color-gray: #ABA89F;
    --color-white: #F5F2F0;
    --color-brown: #664932;
    --color-beige: #D1AC7F;
    --color-red: #8D2300;
    --color-green: #314A10;
    --color-green-light: #749929;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--color-white) !important;
    font-family: 'Poppins', sans-serif !important;
}

body {
    overflow-x: hidden;
}

header {
    position: relative;
    width: 100%;
    z-index: 3;
}

footer {
    position: relative;
}

.main {
    position: relative;
    z-index: 2;
    min-height: calc(100vh - 76px);
}

#title {
    /*font-family: 'Geologica', cursive !important;*/
    font-size: 24px;
}

.picture-homepage {
    position: absolute;
    min-height: calc(100vh - 76px);
    width: 100%;
}

.picture-homepage img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    z-index: 4;
}

.form-control, .btn {
    box-shadow: none !important;
    border-color: #dee2e6 !important;
    outline: none !important;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none !important;
    background: none !important;
  }

/* Remove the autofill background color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
    transition: background-color 9999s ease-in-out 0s;
}

/* Taille ordinateur */
@media screen and (min-width: 1200px) {
}

/* Taille tablette */
@media screen and (max-width: 1200px) {
}